
.mae {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.retangulo-grande {
    width: 600px;
    height: 200px;
    background-color: #3498db;
    margin-bottom: 20px;
}

.retangulo-pequeno {
    width: 200px;
    height: 200px;
    background-color: #e74c3c;
    display: inline-flex;

}